<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nearby Places</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h2> Nearby Places</h2>
<p>
    You can find nearby places to the values you enter the latitude, longitude and radius.
    <br>
    Longitude value must be a number between -180 and 180. 
    <br>
    Latitude value must be a number between -90 and 90. 
    <br>
    Radius value must be in kilometers. 
</p>
<form id = "location-values">
    <label for="longitude">Longitude:</label>
    <input type="number" id="longitude" name="longitude" min = "-180" max = "180" step = ".0001" ><br>
    <label for="latitude">Latitude:</label>
    <input type="number" id="latitude" name="latitude" min = "-90" max = "90" step = ".0001"><br>
    <label for="radius">Radius:</label>
    <input type="number" id="radius" name="radius" step = ".0001"><br>
    <button class="btn btn-success" type = "submit">Find</button>
</form>
    <div class="container-fluid">
        <div id="message-space">
        </div>
    </div>   
    <div id="map"></div>  
</body>
    <script src="static/places.js"></script>
    <script defer 
            src = "https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>
</html>                                                        